.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: aqua;
}

.input-box {
  display: flex;
  align-items: center;
}

input[type="password"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#message {
  margin-top: 10px;
  font-size: 14px;
}

#strength {
  font-weight: bold;
}
