.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.circular-progress-bar {
  margin-bottom: 20px;
}

input[type="range"] {
  width: 200px;
}
