#nav {
  background-color: rgb(0, 128, 255);
  text-align: left !important;
  color: aliceblue;
  height: 100px;
  display: flex;
  align-items: center;
}
li {
  list-style: none;
  display: inline;
  padding: 30px;
  font-size: 30px;
}
.nav-item {
  color: aliceblue;
}
