body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  background-color: #57acf6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(75, 247, 169, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.left,
.right {
  text-align: center;
}

#date {
  font-size: 3rem;
  color: whitesmoke;
  margin: 0;
}

#day {
  font-size: 1.5rem;
  color: #acfb35;
  margin: 0;
}

#month {
  font-size: 2rem;
  color: #fbd119;
  margin: 0;
}

#year {
  font-size: 3.2rem;
  color: #d81bfa;
  margin: 0;
}
