body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: hsl(185, 83%, 65%);
  margin: 0;
}

.progress-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    hsl(244, 84%, 71%) 0%,
    hsl(231, 90%, 63%) 0%,
    #e0e0e0 0%,
    #e0e0e0 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: hsl(312, 81%, 63%);
  margin-bottom: 20px;
  position: relative;
}

.progress-circle span {
  position: absolute;
}

input[type="range"] {
  width: 200px;
}
